<html>
<head>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <script type="text/javascript" src="backbone.js"></script>
    <script type="text/javascript" src="test.js"></script>
    <title></title>
</head>
<body>
<div id="myouterdiv">
    <h1>Recent Tweets</h1>
    <div id="mydiv"></div>
</div>
<script type="text/template" id="tweet-template">
    <div class="tweet">
        Posted at <span class="timestamp"><%= timestamp %></span> by
        <span class="user"><%= user %></span><br />
        <p class="message"><%= message %></p>
    </div>
</script>
</body>
</html>

